@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @media only screen and (max-width: 600px) {
        .imgHeight {
		    height: 200px;
        }
    }
    @media only screen and (min-width: 601px){ 
        .imgHeight {
		    height: 350px;
        }
    }
    @media only screen and (min-width: 768px){ 
        .imgHeight {
		    height: 420px;
        }
    }
    @media only screen and (min-width: 1024px){ 
        .imgHeight {
		    height: 500px;
        }
    }

}
